* {
  box-sizing: border-box;
}
body {
  background-color: rgb(253, 188, 68);
}
.navbar {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.719);
  height: 100%;
  .navbar__links {
    width: 20%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    a {
      margin: 0 1vw;
      transition: 1s;
      font-size: large;
      text-decoration: none;
      width: 100%;
      height: 100%;
      text-align: center;
      color: black;
      padding: 20px 10px;
      &:hover,
      &:focus {
        color: white;
        background-color: rgb(99, 66, 5);
      }
    }
  }
}

.cards {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
}

.card {
  width: 23vw;
  margin: 1vh 1vw;
  background-color: white;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 1s;
  text-decoration: none;
  color: black;
  &:visited {
    color: black;
  }
  &:hover,
  &:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    background-color: rgb(214, 214, 214);
  }
}

.nav-buttons {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  button {
    transition: 1s;
    color: black;
    font-size: large;
    border: none;
    text-align: center;
    height: 100%;
    width: 25vw;
    margin: auto 5vw;
    background-color: rgba(255, 255, 255, 0.719);
    &:hover,
    &:focus {
      background-color: rgb(128, 87, 11);
      color: white;
    }
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  a {
    background-color: white;
    width: 17vw;
    text-align: center;
    overflow-wrap: break-word;
    height: 100%;
    margin: 1vw;
    text-decoration: none;
    color: black;
    transition: 1s;
    border-radius: 10px;
    padding: 5px 0;
    &:hover,
    &:focus {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
      background-color: rgb(214, 214, 214);
    }
  }
}

.pokemon {
  margin: 20px auto;
  width: 20%;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  padding: 20px;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}

.loading {
  text-align: center;
}

@media screen and (max-width: 900px) {
  .pokemon {
    width: 80%;
  }
  button {
    width: 45vw;
  }
}
